@charset "ISO-8859-1";
.text-danger {
	color: #e80c4d;
	font-size: 0.9em;
}
.center
{
 text-align: center;
}
.table-center {
  margin-left: auto;
  margin-right: auto;
}
body {
	background-image:
		url("https://img.freepik.com/premium-photo/hand-holding-gold-medal-sky_51195-3640.jpg?w=2000");
	background-repeat : no-repeat;

	background-size: cover;
	color: black;
}