@charset "ISO-8859-1";
.text-danger {
	color: #e80c4d;
	font-size: 0.9em;
}

body {
	background-image:
		url("https://wallpapers-hub.art/wallpaper-images/343552.jpg");
	
	background-position: center;
	background-size: cover;
	color: black;
}

a {
	text-decoration: none;
	color: black;
}
h2{
color: black;
}
.center{
 text-align: center;
}
.table-center {
  margin-left: auto;
  margin-right: auto;
}