@charset "ISO-8859-1";
.text-danger {
	color: #e80c4d;
	font-size: 0.9em;
}
.center
{
 text-align: center;
}
.table-center {
  margin-left: auto;
  margin-right: auto;
}
body {
	background-image:
		url("https://www.wallpaperuse.com/wallp/27-274399_m.jpg");
	background-repeat : no-repeat;

	background-size: cover;
	color: black;
}