@charset "ISO-8859-1";
.center
{
 text-align: center;
}
body {
	background-image:
		url("https://wallpaperaccess.com/full/552032.jpg");
	
	
	color: white;
}
h2
{
color:yellow;
}
.table-center {
  margin-left: auto;
  margin-right: auto;
}