@charset "ISO-8859-1";
.center
{
 text-align: center;
}
.table-center {
  margin-left: auto;
  margin-right: auto;
}
body {
	background-image:
		url("https://www.mordeo.org/download/12912/");
	
	background-size: cover;
	background-repeat: no-repeat;
	color: yellow;
}