@charset "ISO-8859-1";
.center
{
 text-align: center;
}
body {
	background-image:
		url("https://cdn.pixabay.com/photo/2017/09/07/08/54/money-2724241_960_720.jpg");
	 height: 768px;
	width: 1366px;
	background-size: cover;
	background-repeat: no-repeat;
	color: yellow;
}

th{
	background-color: blue;
	color: white;
}
tr{
	background-color: #008080;
	
}

a {
	text-decoration: none;
	color: white;
}
.table-center {
  margin-left: auto;
  margin-right: auto;
}