@charset "ISO-8859-1";
.center
{
 text-align: center;
}
body {
	background-image: url("https://wallpaperaccess.com/full/2493384.jpg");
	background-repeat: no-repeat;
	 height: 768px;
	width: 1366px;
	background-size: cover;
	color: yellow;
}
.table-center {
  margin-left: auto;
  margin-right: auto;
}
a{
	color: white;
}