@charset "ISO-8859-1";
.center
{
 text-align: center;
}
.text-danger {
	color: #e80c4d;
	font-size: 0.9em;
}
.table-center {
  margin-left: auto;
  margin-right: auto;
}
body {
	background-image:
		url("https://wallpaper.dog/large/10779723.jpg");
	
	
	background-size: cover;
	color: #938B8B;
}