@charset "ISO-8859-1";
.center
{
 text-align: center;
}
.table-center {
  margin-left: auto;
  margin-right: auto;
}
body {
	background-image:
		url("https://i.pinimg.com/originals/e2/93/ac/e293acebe1119a6e90e9eb872195d53d.jpg");
	background-repeat : no-repeat;

	background-size: cover;
	color: blue;
}