@charset "ISO-8859-1";
body {
	background-image:
		url("https://images.unsplash.com/photo-1560272564-c83b66b1ad12?ixlib=rb-1.2.1&w=1080&fit=max&q=80&fm=jpg&crop=entropy&cs=tinysrgb");
	
	background-position: center;
	background-size: cover;
	color: #938B8B;
}
.text-danger {
	color: #e80c4d;
	font-size: 0.9em;
}
h2{
color: white;
}
.center
{
 text-align: center;
}
.table-center {
  margin-left: auto;
  margin-right: auto;
}