@charset "ISO-8859-1";
.text-danger {
	color: #e80c4d;
	font-size: 0.9em;
}
.center
{
 text-align: center;
}
.table-center {
  margin-left: auto;
  margin-right: auto;
}
body {
	background-image:
		url("https://c4.wallpaperflare.com/wallpaper/570/593/209/virat-kohli-4k-sports-wallpaper-preview.jpg");
	
	background-size: cover;
	background-repeat: no-repeat;
	color: yellow;
}